<div class="container">
  <!-- <pro-langs class="langs" btnClass></pro-langs> -->
  <div class="wrap">
    <div class="top">
      <div class="head">
        <img class="logo" src="./assets/logo-color.svg">
        <span class="title">能耗监测平台</span>
      </div>
      <div class="desc">能耗数据监测平台</div>
    </div>
    <router-outlet></router-outlet>
    <global-footer [links]="links" class="copyright">
      Copyright
      <i nz-icon nzType="copyright"></i>
      {{year}}
      <a href="" target="_blank">福州芝麻智能科技有限公司</a>
      出品
    </global-footer>
  </div>
</div>