<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card [title]="'至今总供水量 (m³)'" total="25535,123" contentHeight="44px" [action]="action1" [footer]="footer1">
      <ng-template #action1>
        <i nz-tooltip [nzTooltipTitle]="'闽侯园区'" nz-icon nzType="info-circle"></i>
      </ng-template>

      <ng-template #footer1>
        <p class="text-truncate mb0">
          闽侯园区
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card [title]="'总用水量'" total="25516,560" contentHeight="46px" [action]="action3" [footer]="footer3">
      <ng-template #action3>
        <i nz-tooltip [nzTooltipTitle]="'app.analysis.introduce' | translate" nz-icon nzType="info-circle"></i>
      </ng-template>
      <g2-mini-bar *ngIf="data.visitData" height="46" [data]="data.visitData"></g2-mini-bar>
      <ng-template #footer3>
        <p class="text-truncate mb0">
          转化率
          <span class="ml-sm">99%</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card [title]="'总漏损量'" total="8,848" contentHeight="46px" [action]="action2" [footer]="footer2">
      <ng-template #action2>
        <i nz-tooltip [nzTooltipTitle]="'app.analysis.introduce' | translate" nz-icon nzType="info-circle"></i>
      </ng-template>
      <g2-mini-area *ngIf="data.visitData" color="#975FE4" height="46" [data]="data.visitData"></g2-mini-area>
      <ng-template #footer2>
        <p class="text-truncate mb0">
          日漏水量
          <span class="ml-sm">23</span>
        </p>
      </ng-template>
    </g2-card>
  </div>
  <div nz-col nzXs="24" nzSm="12" nzMd="12" nzLg="6">
    <g2-card [title]="'总漏损率'" total="8%" contentHeight="46px" [action]="action4" [footer]="footer4">
      <ng-template #action4>
        <i nz-tooltip [nzTooltipTitle]="'app.analysis.introduce' | translate" nz-icon nzType="info-circle"></i>
      </ng-template>
      <g2-mini-progress height="46" percent="8" strokeWidth="8" target="80" color="#13C2C2"></g2-mini-progress>
      <ng-template #footer4>
        <div class="d-flex justify-content-between text-truncate">
          <trend flag="up">
            周同比
            <span class="pl-sm">1%</span>
          </trend>
          <trend flag="down">
            日环比
            <span class="pl-sm">1%</span>
          </trend>
        </div>
      </ng-template>
    </g2-card>
  </div>
</div>
<nz-card [nzLoading]="loading" [nzBordered]="false" class="ant-card__body-nopadding sales-card">
  <nz-tabset *ngIf="data.salesData">
    <nz-tab *ngFor="let tab of saleTabs" [nzTitle]="tab.key">
      <div nz-row>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="16">
          <div class="bar">
            <g2-bar height="295" style="width: 100%" [title]="'用水量趋势'" [data]="data.salesData">
            </g2-bar>
          </div>
        </div>
        <div nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="8">
          <div class="rank">
            <h4 class="ranking-title">楼宇用水总排行</h4>
            <ul class="rank-list">
              <li *ngFor="let i of rankingListData; let idx = index">
                <span class="number" [ngClass]="{ active: idx < 3 }">{{ idx + 1 }}</span>
                <span class="title">{{ i.title }}</span>
                <span class="value">{{ i.total | number: '3.0' }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nz-tab>

  </nz-tabset>
</nz-card>
<div nz-row [nzGutter]="24">
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
    <nz-card [nzLoading]="loading" [nzBordered]="false" [nzTitle]="'异常动态监控'" class="mb-0">

      <div nz-row [nzGutter]="64">
        <!-- 异常动态监控列表 -->
        <div>
          <!-- <cdk-virtual-scroll-viewport itemSize="73" class="demo-infinite-container">
            <nz-list>
              <nz-list-item *cdkVirtualFor="let item of ds">
                <nz-skeleton *ngIf="!item" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
                <nz-list-item-meta *ngIf="item"
                  nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
                  [nzDescription]="item.email">
                  <nz-list-item-meta-title>
                    <a>{{ item.name.last }}</a>
                  </nz-list-item-meta-title>
                </nz-list-item-meta>
              </nz-list-item>
            </nz-list>
          </cdk-virtual-scroll-viewport> -->
        </div>
      </div>

    </nz-card>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="12">
    <nz-card [nzLoading]="loading" [nzBordered]="false" [nzTitle]="'楼宇用水量占比'" [nzBodyStyle]="{ 'padding.px': 24 }"
      [nzExtra]="extra" class="sales-card mb-0" style="min-height: 502.5px">
      <ng-template #extra>

        <nz-radio-group [(ngModel)]="salesType" (ngModelChange)="changeSaleType()">
          <label nz-radio-button [nzValue]="'all'">全部用水</label>
          <label nz-radio-button [nzValue]="'online'">当月</label>

        </nz-radio-group>
      </ng-template>

      <g2-pie *ngIf="salesPieData" [data]="salesPieData" [hasLegend]="true" [subTitle]="'用水量'" [height]="248"
        [lineWidth]="4" [total]="salesTotal" [valueFormat]="handlePieValueFormat"></g2-pie>
    </nz-card>
  </div>
</div>
<nz-card [nzLoading]="loading" [nzBordered]="false" [nzBodyStyle]="{ padding: '0 0 32px' }" class="offline-card mt-lg">

  <nz-tabset *ngIf="data.offlineData" [(nzSelectedIndex)]="offlineIdx">
    <nz-tab *ngFor="let tab of data.offlineData; let i = index" [nzTitle]="nzTabHeading">
      <ng-template #nzTabHeading>
        <div nz-row [nzGutter]="8" style="width: 138px; margin: 8px 0;">
          <div nz-col [nzSpan]="12">
            <number-info [title]="tab.name" [subTitle]="'漏损率'" gap="2" [total]="tab.cvr * 100 + '%'"
              [theme]="i !== offlineIdx && 'light'"></number-info>
          </div>
          <div nz-col [nzSpan]="12" style="padding-top: 36px;">
            <g2-pie [animate]="false" [color]="i !== offlineIdx && '#BDE4FF'" [inner]="0.55" [tooltip]="false"
              [padding]="[0, 0, 0, 0]" [percent]="tab.cvr * 100" [height]="64"></g2-pie>
          </div>
        </div>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</nz-card>